<ng-container *ngIf="user$ | async as user; else notFound">
  <section class="user-detail">
    <div class="user-card">
      <header class="user-header">

        <div class="avatar">
         <i class="fa-solid fa-circle-user"></i>
        </div>

        <h2 class="user-name">{{ user.name }}</h2>
        <p class="username">&#64;{{ user.username }}</p>
      </header>

      <div class="user-info">
        <div class="info-block">
          <h3>İletişim Bilgileri</h3>
          <p><strong>E-posta: </strong> <a [href]="'mailto:' + user.email">{{ user.email }}</a></p>
          <p><strong>Telefon: </strong> {{ user.phone }}</p>
          <p><strong>Website: </strong>
            <a [href]="'https://' + user.website" target="_blank">{{ user.website }}</a>
          </p>
        </div>

        <div class="info-block">
          <h3>Adres</h3>
          <p>{{ user.address.street }}, {{ user.address.suite }}</p>
          <p>{{ user.address.city }} {{ user.address.zipcode }}</p>
          <p class="geo">
            Koordinat: {{ user.address.geo.lat }}, {{ user.address.geo.lng }}
          </p>
        </div>

        <div class="info-block">
          <h3>Şirket Bilgisi</h3>
          <p><strong>{{ user.company.name }}</strong></p>
          <p class="catch">{{ user.company.catchPhrase }}</p>
        </div>
      </div>

      <div class="actions">
        <button class="back-btn" (click)="goBack()">
            <i class="fa-solid fa-arrow-left"></i>Geri Dön</button>
      </div>
    </div>
  </section>
</ng-container>

<ng-template #notFound>
  <div class="error-state">{{ errorMessage || 'Kullanıcı bulunamadı.' }}</div>
</ng-template>