<ng-container *ngIf="user$ | async as user; else notFound">
  <section class="user-detail" *ngIf="user">
    <div class="card">
      <h2>{{ user.name }}</h2>
      <p><strong>Kullanıcı Adı:</strong> {{ user.username }}</p>
      <p><strong>E-posta:</strong> {{ user.email }}</p>
      <p><strong>Telefon:</strong> {{ user.phone }}</p>
      <p><strong>Website:</strong> 
        <a [href]="'https://' + user.website" target="_blank">{{ user.website }}</a>
      </p>

      <div class="address">
        <h3>Adres</h3>
        <p>{{ user.address.street }}, {{ user.address.suite }} </p>
        <p>{{ user.address.city }} {{ user.address.zipcode }}, <br> {{ user.address.geo.lat }} {{ user.address.geo.lng }} </p>
      </div>

      <div class="company">
        <h3>Şirket Bilgisi</h3>
        <p><strong>{{ user.company.name }}</strong></p>
        <p><em>{{ user.company.catchPhrase }}</em></p>
      </div>

      <button class="back-btn" (click)="goBack()">← Geri Dön</button>
    </div>
  </section>
</ng-container>

<ng-template #notFound>
  <div class="error-state">{{ errorMessage || 'Kullanıcı bulunamadı.' }}</div>
</ng-template>
