<div class="home-container">
  <h1 class="page-title">Kullanıcılar</h1>

  <div class="search-wrapper">
    <input
      type="text"
      placeholder="İsim ile ara..."
      [(ngModel)]="searchTerm"
      (input)="onSearchTermChange(searchTerm)"
      class="search-input"
    />
  </div>

  <div *ngIf="loading" class="status">Veriler yükleniyor...</div>

  <div *ngIf="!loading && errorMessage" class="status error">
    {{ errorMessage }}
  </div>

  <ng-container *ngIf="!loading && !errorMessage">
    <app-card-list
      [items]="(users$ | async) || []"
       (itemSelected)="navigateToDetail($event)">
    </app-card-list>
  </ng-container>

  <ng-container *ngIf="!loading && !(users$ | async)?.length && !errorMessage">
    <p class="status empty">Hiç kullanıcı bulunamadı.</p>
  </ng-container>
</div>
